<ion-view title="{{'PICTURE_PAGE_NAME' | translate}}">
    <ion-nav-buttons side="left">
        <button ng-click="goBack()" class="button button-icon icon ion-ios7-arrow-back"></button>
    </ion-nav-buttons>


    <ion-nav-buttons side="right">

        <p>{{ user.points | number}} pts</p>

    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="item-picture" on-drag-right="right()" on-drag-left="left()">
            <div class="row row-center">
                <img class="full_screen_img" ng-src="{{picture.url}}"
                     ng-style="{'max-height':height,'width':'auto','min-height':'300px'}">
            </div>
            <div class="row">
                <div class="col col-50 col-offset-40">
                    <i class="icon ion-location"></i>
                    {{ picture.location.county}}
                </div>
            </div>

            <div class="row">
                <div class="col col-33"><i class="icon ion-person"></i> {{picture.userId.username | capitalize}}
                </div>
                <div class="col col-33 col-offset-33">
                    <i class="icon ion-clock"></i>
                    <small> {{picture.date | timeago}}</small>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class="picture-description"><p>{{picture.name}}</p></div>
            </div>


        </div>
    </ion-content>

    <div class="bar bar-footer">
        <a class="tab-item col-49" ng-click="vote(picture._id,false)">
            <i class="icon ion-thumbsdown" ng-class="picture.vote===false?'red':''"></i>
        </a>
        <span class="tab-item"><b>{{picture.score}}</b></span>
        <a class="tab-item  col-49" ng-click="vote(picture._id,true)">
            <i class="icon ion-thumbsup" ng-class="picture.vote===true?'green':''"></i>
        </a>
    </div>
</ion-view>
