<ion-view title="{{'SETTINGS_PAGE_TITLE' | translate}}{{location.location}}">
    <ion-nav-buttons side="left">
        <button ng-click="goBack()" class="button button-icon icon ion-ios7-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding scroll">
        <div>
            <div class="row">
                <div class="col"><h4>{{ 'SETTINGS_MY_ACCOUNT' | translate}}</h4>
                </div>
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>{{'SETTING_USERNAME_LABEL' | translate}}</b></span><br>
                    <span class="input-label"><i class="icon ion-person"></i> {{user.username | capitalize}}</span>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>{{'SETTING_SCHOOL_LABEL' | translate}}</b></span>
                    <span ng-show="!user.school">
                    <a href="#/app/addSchool">
                        <button class="button button-royal right" style="margin-top: -23px">{{'SETTINGS_ADD_SCHOOL' |
                            translate}}
                        </button>
                    </a> <br>
                    <span class="input-label"> {{'SETTINGS_NO_SCHOOL' | translate}}</span>
                        </span>
                    <span ng-show="user.school">
                    <a href="#/app/addSchool">
                        <button class="button button-royal right" style="margin-top: -23px">{{'SETTINGS_CHANGE_SCHOOL' |
                            translate}}
                        </button>
                    </a> <br>
                    <span class="input-label"> {{ user.school}}</span>
                        </span>
                </label>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col col-center col-80">
                    <button class="button button-assertive button-full button-borders" ng-click="SignOut()">
                        {{'SETTINGS_SIGN_OUT' | translate}}
                    </button>
                </div>
                <div class="col"></div>
            </div>


        </div>
    </ion-content>
</ion-view>