<ion-view title="{{'SETTINGS_PAGE_TITLE' | translate}}{{location.location}}">
    <ion-nav-buttons side="left">
        <button ng-click="goBack()" class="button button-icon icon ion-ios7-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding scroll">
        <div class="list">
            <!--todo this is a lot of code just tu put a loader on the center ..-->
            <div class="row row-center" ng-show="loading">
                <div class="col"></div>
                <div class="col col-center">
                    <i class="icon ion-loading-c"></i>
                </div>
            </div>
        </div>
        <div ng-repeat="(index,picture) in pictures">
            <a class="item item-thumbnail-left" ng-href="#/app/picture/{{locationType}}/{{index}}">
                <img ng-src="{{picture.url}}">
                <img src="img/first_place.png" class="rank-icon" ng-show="$first">
                <img src="img/second_place.png" class="rank-icon" ng-show="$index==1">
                <img src="img/third_place.png" class="rank-icon" ng-show="$index==2">
                <br>

                <h3><i class="icon ion-person"></i> {{picture.userId.username | capitalize}} </h3>

                <h2> {{picture.name}}</h2>

            </a>

        </div>
    </ion-content>
</ion-view>