<ion-view title="Top in {{location.location}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding scroll">
        <div class="list">
            <!--todo this is a lot of code just tu put a loader on the center ..-->
            <div class="row row-center" ng-show="loading">
                <div class="col"></div>
                <div class="col col-center">
                    <i class="icon ion-loading-c"></i>
                </div>
            </div>
        </div>
        <div ng-repeat="picture in pictures | orderBy:'rank'" >
            <div class="item item-thumbnail-left">
                <img ng-src="{{picture.url}}">
                <h2> {{picture.name}}</h2>
                <p>score : {{picture.score}}, rank: {{picture.rank}}</p>
            </div>

        </div>
    </ion-content>
</ion-view>