<ion-view title="{{'TRENDING_MENU_PAGE_NAME' | translate}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding scroll">
        <div class="list">
            <!--todo this is a lot of code just tu put a loader on the center ..-->
            <div class="row row-center" ng-show="loading">
                <div class="col"></div>
                <div class="col col-center">
                    <i class="icon ion-loading-c"></i>
                </div>
            </div>

            <div class="list" ng-repeat="(key,value) in ['country','state','county']" ng-show="!loading">
                <a class="item item-thumbnail-left" ng-href="#/app/trending/{{value}}/{{bestPictures[value].name}}">
                    <img ng-src="{{bestPictures[value].picture}}">

                    <h2> {{bestPictures[value].name}}</h2>

                    <p>{{value | translate}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>