<ion-view title="{{'TRENDING_MENU_PAGE_NAME' | translate}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a href="#/app/settings"><i class="button button-icon icon ion-ios7-gear"></i></a>
        {{ user.points | number}} pts

    </ion-nav-buttons>


    <ion-content class="has-header padding scroll">
        <div class="list">
            <!--todo this is a lot of code just tu put a loader on the center ..-->
            <div class="row row-center" ng-show="loading">
                <div class="col"></div>
                <div class="col col-center">
                    <i class="icon ion-loading-c"></i>
                </div>
            </div>

            <img ng-src="{{mypicture}}"/>
            <div class="list" ng-repeat="(key,value) in ['country','state','county']" ng-show="!loading">
                <a class="item item-thumbnail-left" ng-href="#/app/trending/{{value}}/{{bestPictures[value].name}}"
                   ng-click="noPicture($event,bestPictures[value].picture)">
                    <img ng-src="{{bestPictures[value].picture}}" ng-show="bestPictures[value].picture">
                    <img class="thumbnail" src="img/no_post.jpg" ng-show="!bestPictures[value].picture">

                    <h2> {{bestPictures[value].name}}</h2>

                    <p>{{value | translate}}</p>
                </a>
            </div>
            <div class="list" ng-show="!loading && user.institution">
                <a class="item item-thumbnail-left" ng-href="#/app/trending/institution/{{user.institution}}"
                   ng-click="noPicture($event,bestPictures.institution.picture)">
                    <img ng-src="{{bestPictures.institution.picture}}" ng-show="bestPictures.institution.picture">
                    <img class="thumbnail" src="img/no_post.jpg" ng-show="!bestPictures.institution.picture">

                    <h2> {{user.institution}}</h2>

                    <p>{{'TRENDING_MENU_LABEL_SCHOOL' | translate}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>