<ion-view title="Vote">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <p>{{ user.points | number}} pts</p>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <!--todo this is a lot of code just tu put a loader on the center ..-->
        <div class="row row-center" ng-show="pictures.length == 0 && !NoMoreVotes">
            <div class="col"></div>
            <div class="col col-center">
                <i class="icon ion-loading-c"></i>
            </div>
        </div>

        <div class="list" ng-repeat="picture in pictures" ng-show="$first">

            <div class="item-picture">
                <div class="row row-center">
                    <img class="full_screen_img" ng-src="{{picture.url}}">
                </div>

                <div class="row">
                    <div class="col col-50 col-offset-40">
                        <i class="icon ion-location"></i>
                        {{ picture.location.county}}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-33"><i class="icon ion-person"></i> {{picture.userId.username | capitalize}}
                    </div>
                    <div class="col col-33 col-offset-33">
                        <i class="icon ion-clock"></i>
                        <small> {{picture.date | timeago}}</small>
                    </div>
                </div>


                <div class="row responsive-sm">
                    <div class="picture-description"><p>{{picture.name}}</p></div>
                </div>


            </div>
        </div>


    </ion-content>

    <div class="bar bar-footer" ng-show="pictures.length!==0">
        <a class="tab-item col-50" ng-click="vote(pictures[0]._id,false)">
            <i class="icon ion-thumbsdown"></i>
        </a>
        <a class="tab-item col-50" ng-click="vote(pictures[0]._id,true)">
            <i class="icon ion-thumbsup"></i>
        </a>
    </div>
</ion-view>
