<ion-view title="Vote">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">

        <p>{{ user.points | number}} pts</p>

    </ion-nav-buttons>
    <ion-content class="has-header">
        <!--todo this is a lot of code just tu put a loader on the center ..-->
        <div class="row row-center" ng-show="pictures.length ==0">
            <div class="col"></div>
            <div class="col col-center">
                <i class="icon ion-loading-c"></i>
            </div>
        </div>
        <div class="list card" ng-repeat="picture in pictures" ng-show="$first">

            <div class="item item-avatar">
                <h2>{{picture.name}}</h2>

                <p>{{picture.date | date}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="{{picture.url}}">

                <p>
                    {{picture.name}}
                </p>

            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="vote(picture._id,true)">  <!-- change with id-->
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" ng-click="vote(picture._id,false)">
                    <i class="icon ion-thumbsdown"></i>
                    Don't like
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
