/* Empty. Add your own CSS if you like */

.item-picture {

}

.button-borders {
    border-left-width: 1px;
    border-right-width: 1px;
}

.full_screen_img {
    max-height: 50vh;
    width:auto;
}
