/* Empty. Add your own CSS if you like */

.item-picture {

}

.button-borders {
    border-left-width: 1px;
    border-right-width: 1px;
}

.full_screen_img {
    max-height: 50vh;
    width: auto;
}

.red {
    color: red;
}

.green {
    color: green;
}

.rank-icon{
    height:50px;
    position: absolute;
    margin-left: -116px;
    margin-top:-15px;
    z-index: 1;
}

.picture-description{
    border-top: 1px solid #ddd;
    border-bottom : 1px solid #ddd;
    margin-left: 5px;
}

.right{
    float:right;
}


.thumbnail{
    left: 10px;
    max-height: 80px;
    max-width: 80px;
    position: absolute;
    top: 10px;
    width: 100%;
}